.parallax1 {
    z-index: 2;
    padding: 0px;
    margin: 0px;
    height: 1500px; 
    filter: grayscale(10%);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 .animated {
    background-position: left top;
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

/*MEDIUM SCREEN SIZE*/
@media screen and (max-width: 845px) and (min-width: 605px) {
    .parallax1 {
        height: 1300px; 
    }
}

/*SMALL SCREEN SIZE*/
@media screen and (max-width: 604px) {
    .parallax1 {
        height: 1000px; 
    }
}