.parallax {
	/* The image used */
	background-image: url("/assets/open-Eyes.jpeg");
	/* Set a specific height */
	height: 1000px; 
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
