.nav-header-maverick {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: -5px;
	right: 34%;
    z-index: 2;
}

/*MEDIUM SCREEN SIZE*/
@media screen and (max-width: 1000px) and (min-width: 605px) {
	.nav-header-maverick {
		font-family: 'Roboto', sans-serif;
		position: fixed;
		top: -5px;
		right: 30%;
		z-index: 2;
	}

	h3 {
		font-size: 40px;
	}
}

/*SMALL SCREEN SIZE*/
@media screen and (max-width: 604px) {
	.nav-header-maverick {
		font-family: 'Roboto', sans-serif;
		position: fixed;
		top: -5px;
		right: 20%;
		z-index: 2;
	}

	h3 {
		font-size: 30px;
	}
}