.nav-header {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: -5px;
	right: 34%;
}

/*MEDIUM SCREEN SIZE*/
@media screen and (max-width: 1000px) and (min-width: 605px) {
	.nav-header {
		font-family: 'Roboto', sans-serif;
		position: fixed;
		top: -5px;
		right: 22%;
	}

	h3 {
		font-size: 40px;
	}
}

/*SMALL SCREEN SIZE*/
@media screen and (max-width: 604px) {
	.nav-header {
		font-family: 'Roboto', sans-serif;
		position: fixed;
		top: -5px;
		right: 20%;
	}

	h3 {
		font-size: 30px;
	}
}