.profile-bio {
    color: white;
    text-align: center;
	width: 100%;
	height: 650px;
	background-color: #26a69a;
/*	opacity: .95;*/
}

a {
	color: #93c54b;
}

.jumbotron  {
	color: white;
    text-align: center;
	background-color: #26a69a;	
}

/*.jumbo-bio {
    color: white;
    text-align: center;
	background-color: #26a69a;
}*/
