.profile-bio {
    color: white;
    text-align: center;
	width: 100%;
	height: 600px;
	background-color: #26a69a;
	opacity: .90;
}

Jumbotron {
	color: white;
    text-align: center;
	background-color: #26a69a;	
}

/*.jumbo-bio {
    color: white;
    text-align: center;
	background-color: #26a69a;
}*/
