.welcome-msg {
    color: white;
    text-align: center;
 
    font-weight: 50px;
	width: 60%;
	height: 100px;
	position: relative;
    -webkit-animation: mymove 5s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove 5s;
    animation-fill-mode: forwards;
    /* animation-delay: 0.5s; */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 20%;top: 0%}
    to {left: 20%;top: 27%}
}

@keyframes mymove {
    from {left: 20%;top: 0%}
    to {left: 20%;top: 27%}
}

/*a.btn {
    margin: 0 auto;
}*/